{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "plugins": [
    "ava",
    "promise"
  ],
  "extends": [
    "airbnb-base",
    "plugin:ava/recommended",
    "plugin:promise/recommended"
  ],
  "rules": {
    "no-param-reassign": ["error", { "props": false }]
  }
}
